body{
    background-color: teal;
    
}
#two{
    text-align: center;
    width: 300px;

    border:  10px solid;
    padding: 20px;
    border-radius: 45px;
    background-color: black;
    color: teal;
    
}
#two2{
    text-align: center;
    width: 300px;

    border:  3px solid;
    padding: 20px;
    border-radius: 45px;
    background-color: black;
    color: teal;
     
}
#three{
    text-align: center;
    width: 1300px;
    padding: 20px;
    border:  3px solid;
    border-radius: 45px;
    background-image: url("/home/joy/Desktop/moringa-school-projects/Fika-Eazy/images/matatu.jpg");
    color:black;
}

.centered{
        position: absolute;
        top: 40%;
        bottom: 50%;
        right:50%;
        left:45%;
     color:white;
     font-family: fantasy;
}

#about{
    
    width: 100%;
    padding: 50px;
    border:  10px solid;
    border-radius: 40px;
    background-color: black;
    color:teal; 
    font-family: fantasy;
}
hr{
    width:500px;
}
.headding{
    text-align: center;
}
#message{
    background-color: teal;
    height:30px;
    margin-right: 30%;
    margin-left: 30%;
}
.jumbotron{
    background-color: teal;
}
#yeeiy{
    background-image: url("/home/joy/Desktop/moringa-school-projects/Fika-Eazy/images/avenue.jpg");
}
#unique{
    background: transparent;
    color:black;
}
