body{
    background-color: teal;
}
#two{
    text-align: center;
    width: 300px;

    border:  10px solid;
    padding: 20px;
    border-radius: 45px;
    background-color: black;
    color: teal;
    
}
#two2{
    text-align: center;
    width: 300px;

    border:  10px solid;
    padding: 20px;
    border-radius: 45px;
    background-color: black;
    color: teal;
     
}
#three{
    text-align: center;
    width: 400px;

    border:  10px solid;

    border-radius: 45px;
    background-color: black;
    color: teal;
}
